In [1]:
import pandas

In [7]:
import datetime as d

In [3]:
data = pandas.read_csv("/Users/clunch/Desktop/cfc_fieldData_herb.csv")

In [4]:
data.head()

,uid,namedLocation,domainID,siteID,plotID,plotType,nlcdClass,geodeticDatum,decimalLatitude,decimalLongitude,...,subsample1Height,subsample2Height,subsample3Height,chlorophyllSampleID,collectedBy,recordedBy,remarks,dataQF,subplots,row.index
0,96de6074-bf30-4052-afc0-89596f16c1b2,SCBI_006.basePlot.cfc,D02,SCBI,SCBI_006,distributed,pastureHay,WGS84,38.897609,-78.152007,...,NaN,NaN,NaN,HvxvVDlCk19vCgQHzUqELa1Qnpo1wg/Qa/E+vku/Tm0=,dMVZgSbiazVu0oXyzneal5IPnECwOfLe,2CALKs4JNjmK3iYT4PUVEer6DObkBehF,NaN,NaN,SCBI_006.basePlot.cfc.40,34
1,e7c9e828-9fdc-4d27-b021-fc3dcc79b821,SCBI_005.basePlot.cfc,D02,SCBI,SCBI_005,distributed,deciduousForest,WGS84,38.900539,-78.161859,...,NaN,NaN,NaN,HvxvVDlCk1+aEj7OkevsmY/xu/u/XSP4UKR4FFVhlUw=,2CALKs4JNjmK3iYT4PUVEer6DObkBehF,dMVZgSbiazVu0oXyzneal5IPnECwOfLe,NaN,NaN,SCBI_005.basePlot.cfc.41,37
2,ea958b71-aa8c-48c9-8977-6bc9526eadde,SERC_008.basePlot.cfc,D02,SERC,SERC_008,distributed,cultivatedCrops,WGS84,38.871839,-76.524078,...,NaN,NaN,NaN,FOQ0AtY6KEyr5Og0zMdhf6z+E6veTxAM7qvhEQhIM9c=,2CALKs4JNjmK3iYT4PUVEer6DObkBehF,os5Rd6V2h58xLLGOni43wF5trHQqGKuw,NaN,NaN,SERC_008.basePlot.cfc.31,55
3,8321ef8d-0d5d-4676-80f7-d4991d8d3525,SERC_007.basePlot.cfc,D02,SERC,SERC_007,distributed,cultivatedCrops,WGS84,38.873795,-76.539829,...,NaN,NaN,NaN,FOQ0AtY6KEz/dqob1l7/P8l6vMnxDl6DMG5gumTG2jg=,2CALKs4JNjmK3iYT4PUVEer6DObkBehF,os5Rd6V2h58xLLGOni43wF5trHQqGKuw,NaN,NaN,SERC_007.basePlot.cfc.31,56
4,529c3c5a-5779-438e-bf5f-fe6d4938179d,SERC_003.basePlot.cfc,D02,SERC,SERC_003,distributed,deciduousForest,WGS84,38.899874,-76.543769,...,NaN,NaN,NaN,FOQ0AtY6KEy3Hw/71mF0saL50FmFsgOw615/bzOl+Dk=,2CALKs4JNjmK3iYT4PUVEer6DObkBehF,os5Rd6V2h58xLLGOni43wF5trHQqGKuw,NaN,NaN,SERC_003.basePlot.cfc.31,58

In [5]:
data.dtypes

uid                         object
namedLocation               object
domainID                    object
siteID                      object
plotID                      object
plotType                    object
nlcdClass                   object
geodeticDatum               object
decimalLatitude            float64
decimalLongitude           float64
coordinateUncertainty      float64
elevation                  float64
elevationUncertainty       float64
samplingProtocolVersion     object
collectDate                 object
subplotID                    int64
sampleType                  object
samplingMethod              object
vstTag                     float64
tagID                      float64
individualID               float64
taxonID                    float64
scientificName             float64
plantStatus                 object
clipCellNumber               int64
clipID                      object
clipLength                 float64
clipWidth                  float64
percentCoverClip           float64
sampleID                    object
subsample1Height           float64
subsample2Height           float64
subsample3Height           float64
chlorophyllSampleID         object
collectedBy                 object
recordedBy                  object
remarks                     object
dataQF                     float64
subplots                    object
row.index                    int64
dtype: object

In [19]:
collectDate_dt = pandas.to_datetime(data.collectDate, format='%Y-%m-%dT%H:%MZ')

In [20]:
collectDate_dt.head()

0   2017-08-03 13:00:00
1   2017-08-03 19:00:00
2   2016-07-27 11:14:00
3   2016-07-27 12:00:00
4   2016-07-27 13:40:00
Name: collectDate, dtype: datetime64[ns]

In [21]:
ql = pandas.read_csv("/Users/clunch/Desktop/NEON_par-quantum-line/stackedFiles/PARQL_30min.csv")

In [22]:
ql.head()

,domainID,siteID,horizontalPosition,verticalPosition,startDateTime,endDateTime,linePARMean,linePARMinimum,linePARMaximum,linePARVariance,linePARNumPts,linePARSkewness,linePARKurtosis,linePARExpUncert,linePARStdErMean,finalQF
0,D04,GUAN,1,0,2017-01-21T00:00:00Z,2017-01-21T00:30:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,D04,GUAN,1,0,2017-01-21T00:30:00Z,2017-01-21T01:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,D04,GUAN,1,0,2017-01-21T01:00:00Z,2017-01-21T01:30:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,D04,GUAN,1,0,2017-01-21T01:30:00Z,2017-01-21T02:00:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,D04,GUAN,1,0,2017-01-21T02:00:00Z,2017-01-21T02:30:00Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [23]:
ql.endDateTime = pandas.to_datetime(ql.endDateTime, format='%Y-%m-%dT%H:%M:%SZ')

In [24]:
ql.head()

,domainID,siteID,horizontalPosition,verticalPosition,startDateTime,endDateTime,linePARMean,linePARMinimum,linePARMaximum,linePARVariance,linePARNumPts,linePARSkewness,linePARKurtosis,linePARExpUncert,linePARStdErMean,finalQF
0,D04,GUAN,1,0,2017-01-21T00:00:00Z,2017-01-21 00:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
1,D04,GUAN,1,0,2017-01-21T00:30:00Z,2017-01-21 01:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2,D04,GUAN,1,0,2017-01-21T01:00:00Z,2017-01-21 01:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,D04,GUAN,1,0,2017-01-21T01:30:00Z,2017-01-21 02:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,D04,GUAN,1,0,2017-01-21T02:00:00Z,2017-01-21 02:30:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1